@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.pagination {
  @include margin-top(2);
  display: flex;
}

.paginationPrev {
  width: 50%;
  text-align: left;
}

.paginationPrevLink {
  color: $color-secondary;
  font-size: 18px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.paginationPrevLinkDisable {
  pointer-events: none;
  color: lighten($color-gray, 20%);
}

.paginationNext {
  width: 50%;
  text-align: right;
}

.paginationNextLink {
  color: $color-secondary;
  font-size: 18px;
  font-weight: bold;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.paginationNextLinkDisable {
  pointer-events: none;
  color: lighten($color-gray, 20%);
}
