@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.dark {
  p {
    @apply text-black;
  }
}

.author {
  border-top: 1px solid $color-black;
  max-width: $layout-post-width;
  padding-top: 20px;
  @include line-height(1);
  @include margin-top(1);
  @include margin-bottom(2);
}

.authorBioTwitter {
  display: block;
  text-decoration: underline;
}

@include breakpoint-sm {
  .author {
    margin-left: auto;
    margin-right: auto;
  }
}

:global(.dark) {
  .author {
    border-top: 1px solid $color-gray-border;

  }
}
