.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 15px 0;
}

.social-links>div {
    margin: 5px 15px;
}

.share-count {
    text-align: center;
}

.share-buttons {
    list-style: none;
    padding: 0;
}

.share-buttons li {
    display: inline;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: #979797;
    margin-right: 4px;
}

.share-buttons li a {
    font-size: 15px;
}