@import '../layouts/css/variables-mixins.scss';

.page-post {
  padding: 25px 18%;
  @include media-query($on-palm) {
    padding: 25px;
  }
}

.post {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #ececec;

  img {
    max-width: 100%;
    height: auto;
  }

  &-info {
    color: #a2a2a2;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 30px;
  }

  ul li {
    line-height: 28px;
    font-size: 15px;
  }

  h2 {
    margin-top: 0;
  }

  p {
    line-height: 28px;
  }
}

.post h2 a,
.post-template h1 {
  font-size: 44px;
  margin-bottom: 10px;
}

.post-template h2,
.post-template h3,
.post-template h4,
.post-template h5,
.post-template h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
