@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.newsletter {
  max-width: $layout-post-width;
  margin: 0 auto;
  padding: 0 15px;
}

.newsletterBg {
  border-top: 1px solid $color-black;
  @apply max-w-7xl mx-auto py-10 px-4 sm:px-6 lg:py-16 lg:px-8;
}

.newsletterHeader {
  margin-top: 5px;
  @apply inline text-3xl font-extrabold tracking-tight text-primary sm:block sm:text-4xl;
}

.signup {
  @apply mt-3 max-w-3xl text-lg leading-6 text-secondary;
}

.form {
  @apply mt-8 sm:flex w-full;
}

.emailInput {
  --tw-border-opacity: 1;
  box-sizing: border-box;
  border-color: rgba(209,213,219,var(--tw-border-opacity));
  @apply px-5 py-3 placeholder-gray-500 focus:ring-secondary focus:border-secondary w-full border-gray-300 rounded-md;
}

.btnContainer {
  @apply mt-3 rounded-md shadow sm:mt-0 sm:ml-3 sm:flex-shrink-0;
}

.btn {
  @apply w-full flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-secondary hover:bg-secondary focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-secondary;
}

.emailLabel {
  @apply sr-only;
}

@include breakpoint-md {
  .newsletter {
    margin: 0 auto;
  }
}

@include breakpoint-sm {
  .newsletter {
    margin-left: auto;
    margin-right: auto;
  }
}

:global(.dark) {
  .newsletterBg {
    border-top: 1px solid $color-white;
  }
}
