@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

:global(.dark) {
  .copyright {
    color: lighten($color-gray, 18%);
  }
}

.copyright {
  color: $color-black;
  font-size: $typographic-small-font-size;
}
