@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  @include margin-bottom(0.5);
}

.tagsList {
  list-style: none;
  margin: 0 -10px;
  padding: 0;
}

.tagsListItem {
  display: inline-block;
  margin: 10px 5px;
}

.tagsListItemLink {
  display: inline-block;
  height: $button-height;
  padding: 0 24px;
  line-height: $button-height;
  border: 1px solid $color-black;
  text-decoration: none;
  border-radius: $button-border-radius;
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

:global(.dark) {
  .tagsListItemLink {
    color: $color-base;
    border: 1px solid $color-gray-border;

    &:hover,
    &:focus {
      color: $color-primary;
    }
  }
}
