.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding-top: 100px;
    display: inline-block;
  }

  a {
    font-size: 20px;
  }
}

.my-talks {
  padding: 25px 18%;
  margin-bottom: 60px;
  padding-bottom: 60px;

  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;
  }

  &-information {
    flex: 2;

    // credit: https://codepen.io/chriscoyier/pen/wauoL list style
    .comment {
      overflow: hidden;
      padding: 0 0 1em;
      padding-left: 25px;
      border-bottom: 1px solid #ddd;
      margin: 0 0 1em;
      *zoom: 1;

      &-body {
        overflow: hidden;
      }

      .text {
        padding: 10px;
        border: 1px solid #e5e5e5;
        border-radius: 5px;
        background: #fff;

        p:last-child {
          margin: 0;
        }
      }

      .attribution {
        margin: 0.5em 0 0;
        font-size: 14px;
        color: #666;
      }

      &:before {
        width: 9px;
        height: 9px;
        border: 3px solid #fff;
        border-radius: 100px;
        margin: 16px 0 0 -6px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
          inset 0 1px 1px rgba(0, 0, 0, 0.1);
        background: #ccc;
      }

      &:hover:before {
        background: $brand-color;
      }
    }

    .comments,
    .comment {
      position: relative;
    }

    .comments:before,
    .comment:before,
    .comment .text:before {
      content: '';
      position: absolute;
      top: 0;
      left: 5px;
    }

    .comments:before {
      width: 3px;
      top: -5px;
      bottom: -20px;
      background: rgba(0, 0, 0, 0.1);
    }
  }

  &-collage {
    width: 50%;

    > img {
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }
}
