@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.authorPhoto {
  display: inline-block;
  margin-bottom: 0;
  border-radius: 50%;
  background-clip: padding-box;
}

.authorTitle {
  font-size: $typographic-base-font-size * 1.125;
  font-weight: 600;
  @include line-height(1.125);
  @include margin(0.5, 0, 0.5, 0);
}

.authorTitleLink {
  color: $color-black;

  &:hover,
  &:focus {
    color: $color-base;
  }
}

.authorSubtitle {
  @apply text-black;
  @include line-height(1);
  @include margin-bottom(1);
}

:global(.dark) {
  .authorTitle, .authorTitleLink, .authorSubtitle {
    color: $color-white;
  }
}
