/**
 * Site footer
 */
 .site-footer {
    border-top: 1px solid $grey-color-light;
    color: white;
    background-color: $black-grey;
  
    &__copyright {
      padding: 12px 0;
      text-align: center;
    }
    
    a {
      color: white;
      text-decoration: underline;
      
      &:hover {
        color: white;
      }
    }
  }