@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';

.page {
  color: $color-black;

  p,
  h1,
  h2,
  h3,
  h4 {
    color: $color-black;
  }
  @include margin-bottom(2);
}

.toggle {
  display: flex;
  justify-content: end;
}

.pageInner {
  padding: 25px 20px;
}

.pageTitle {
  color: $color-black;
  font-size: $typographic-base-font-size * 2.5;
  font-weight: 600;
  @include line-height(2);
  @include margin-top(0);
  @include margin-bottom(1.45);
}

.pageBody {
  font-size: $typographic-base-font-size;
  @include line-height(1);
  @include margin(0, 0, 1);
}

@include breakpoint-sm {
  .page {
    lost-column: 7/12;
  }

  .pageInner {
    padding: 30px 20px;
  }
}

@include breakpoint-md {
  .page {
    lost-column: 2/3;
  }
  .pageInner {
    padding: 40px 35px;
  }
}

:global(.dark) {
  .page,
  .pageTitle {
    color: $typographic-base-font-color;
  }

  .page {
    p,
    h1,
    h2,
    h3,
    h4 {
      color: $typographic-base-font-color;
    }
  }
}
